aside, article, section, header, footer, nav {
    display: block;
}

html {
    background-color: #333;
}

html, body, div, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 8px;
    background-color: #333;
}

.containerStatbar {
    font-family: "Sigmar One", "Lucida Sans", sans-serif;
    width: 100%;
    height: 5em;
    display: inline-block;
    color: white;
}

#click-for-first {
    margin-top: 1em;
}

#click-to-continue {
    margin-bottom: 1em;
}

.fade-screen {
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: .9;
    visibility: visible;
    z-index: 1000;
    text-align: center;
    font-size: 10em;
}

    .fade-screen .isHidden {
        visibility: hidden;
        opacity: 0;
    }

    .fade-screen p {
        font-size: 7em;
        margin-top: 40%;
    }

#play-div {
    z-index: 9999;
    padding-top: 5%;
    text-align: right;
    padding-right: 20vw;
}

#monopoly {
    height: 100%;
}

#start-logo {
    max-width: 60vw;
}

.statbar {
    padding: 1em;
    margin-left: 5em;
    display: inline-block;
    float: left;
    min-width: 5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: .3em solid #ecfcf4;
    border-top: none;
    -webkit-box-shadow: 12px 6px 20px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: 12px 6px 20px 0px rgba(0,0,0,0.86);
    box-shadow: 12px 6px 20px 0px rgba(0,0,0,0.86);
    opacity: 0.9;
}

    .statbar p {
        display: inline-block;
        font-size: 2.5em;
    }

    .statbar .money {
        padding: .5em;
        margin-left: .5em;
        border: 2px solid;
        border-radius: 11px;
    }

.set-up {
    background: none;
}

#color-piece-select label {
    font-size: 32px;
    margin-right: 1.1em;
    margin-top: .5em;
    margin-bottom: 1em;
}

.form-group, .form-group1 {
    color: #4d2d2d;
}

    .form-group1 label {
        font-size: 32px;
        margin-right: 3.8em;
    }

.board-container {
    margin: 50px;
    margin-left: 100px;
    perspective: 900px;
}
/*need a better image*/
/*.background {
    background-image: url('../img/table.jpg');
    background-size: auto;
}*/

.header-type {
    font-family: "Sigmar One", "Lucida Sans", sans-serif;
    height: 100vh;
    width: 70%;
    background-color: #3A5060;
    box-shadow: 2px -2px 12px 10px #3A5060, -2px 2px 12px 10px #3A5060;
    padding: 3em;
}
#select-header-text{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}
#select-header-text h2{
    font-size: 3em;
}
#player-submit-button, #first-player-button, #click-to-continue {
    width: 100%;
    font-size: 1.5em;
    background-color: #555;
    border-color: #333;
    color: #337ab7;
}

#player {
    margin-bottom: 1.3em;
    width: 17.8em;
}

#piece, #pieceObject {
    margin-bottom: 1.5em;
}

.column-container {
    color: #000;
    margin-top: -15em;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    height: 78.0em;
    width: 78.0em;
    background-color: #eda;
    outline: .3em solid black;
    transform: rotateX(40deg);
    box-shadow: 10px 10px 10px 10px #000;
    transition: all 1s linear;
}

.top-row {
    flex: 2;
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.top-left-corner-cell {
    position: relative;
    border-left: 1px solid black;
    flex: 2;
}

.top-right-corner-cell {
    position: relative;
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 2;
}

.top-cell {
    position: relative;
    border-left: 1px solid black;
    flex: 1;
}

.middle-row {
    flex: 9;
    display: flex;
}

.middle-row-left {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.left-cell {
    position: relative;
    flex: 1;
    border: 1px solid black;
    border-bottom: none;
}

.middle-row-middle {
    position: relative;
    flex: 9;
}

.center-image {
    flex: 1;
    transform: rotate(45deg);
    background-image: url(../img/MonopolyLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 25em;
    width: 52em;
    margin-left: -7em;
    margin-top: 22em;
}

.center-image-portlandia {
    flex: 1;
    transform: rotate(45deg);
    background-image: url(../img/PortlandiaBoard.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 25em;
    width: 27em;
    margin-left: 22em;
    margin-top: 20em;
    z-index: 999;
}

.middle-row-right {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-cell {
    position: relative;
    flex: 1;
    border: 1px solid black;
    border-bottom: none;
}

.square19, .square31 {
    border-top: none;
}

.bottom-row {
    flex: 2;
    display: flex;
    border: 1px solid black;
}

.bottom-left-corner-cell {
    position: relative;
    border-right: 1px solid black;
    flex: 2;
}

.bottom-right-corner-cell {
    position: relative;
    flex: 2;
}

.bottom-cell {
    position: relative;
    border-right: 1px solid black;
    flex: 1;
}

.header-type {
    min-height: 25em;
    /*margin-bottom: 150px;*/
}

.no_style_li {
    list-style-type: none;
}

/* Creating internal flex boxes for color layers */

.square1, .square3, .square6, .square8, .square9 {
    display: flex;
    flex-direction: column;
}

    .square1 .content, .square3 .content, .square6 .content, .square8 .content, .square9 .content {
        flex: 3;
        text-align: center;
    }

.square11, .square13, .square14, .square16, .square18, .square19 {
    display: flex;
}

    .square11 .content, .square13 .content, .square14 .content, .square16 .content, .square18 .content, .square19 .content {
        flex: 3;
        text-align: center;
    }

.square21, .square23, .square24, .square26, .square27, .square29 {
    display: flex;
    flex-direction: column;
}

    .square21 .content, .square23 .content, .square24 .content, .square26 .content, .square27 .content, .square29 .content {
        flex: 3;
        text-align: center;
    }

.square31, .square32, .square34, .square37, .square39 {
    display: flex;
}

    .square31 .content, .square32 .content, .square34 .content, .square37 .content, .square39 .content {
        flex: 3;
        text-align: center;
    }

.right-name {
    transform: rotate(270deg);
    position: absolute;
    width: 5.6em;
    margin-left: -8%;
    bottom: 37%;
}

    .right-name#jive {
        bottom: 30%;
        padding: 1px;
    }

.right-cost {
    transform: rotate(270deg);
    position: absolute;
    width: 5.6em;
    margin-left: 32%;
    bottom: 40%;
}

#right-rail {
    margin-left: 60%;
    text-align: center;
    right: -0.75em;
}

.square31 .right-name {
    width: 5.6em;
    margin-left: -9%;
    bottom: 30%;
}

.left-name {
    transform: rotate(90deg);
    position: absolute;
    width: 5.6em;
    margin-left: 42%;
    bottom: 40%;
}

.left-cost {
    transform: rotate(90deg);
    position: absolute;
    width: 5.8em;
    margin-left: -8%;
    bottom: 38%;
}

    .left-cost#rail {
        margin-left: -0.9em;
    }

.square18 .left-name {
    bottom: 34%;
}

.top-name {
    transform: rotate(180deg);
    margin-top: 90%;
}

.top-cost {
    transform: rotate(180deg);
    margin-top: 15%;
}

#top-rail-utility {
    text-align: center;
}

.bottom-name {
    margin-top: 10%;
}

.bottom-cost {
    margin-top: 5em;
}

#bottom-middle-cost {
    margin-top: 1.2em;
    text-align: center;
}

.square1 .bottom-cost {
    margin-top: 4em;
}

.square38 {
    flex: 1;
    display: flex;
}

    .square38 .content {
        flex: 1;
        transform: rotate(270deg);
        text-align: center;
        position: absolute;
        margin-left: -2%;
        bottom: 20%;
        width: 5em;
        padding: 3px;
    }

    .square38 .img {
        flex: 1;
        transform: rotate(270deg);
        background-image: url(../img/donut2.png);
        background-size: cover;
        position: absolute;
        height: 5em;
        width: 4.5em;
        margin-left: 35%;
        bottom: 0;
    }

.donutpay {
    flex: 1;
    transform: rotate(270deg);
    text-align: center;
    position: absolute;
    margin-left: 65%;
    bottom: 35%;
}

.color1 {
    height: 2.7em;
    border-bottom: 1px solid black;
    background-color: #664361;
}

.color2 {
    height: 2.7em;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #9FBCC0;
}

.color3 {
    width: 2.7em;
    border-left: 1px solid black;
    background-color: #DE5855;
    flex: 1;
}

.color4 {
    width: 2.7em;
    border-left: 1px solid black;
    background-color: #FB7116;
}

.color5 {
    height: 2.7em;
    border-top: 1px solid black;
    background-color: #6D0F03;
}

.color6 {
    height: 2.7em;
    border-top: 1px solid black;
    background-color: #FAB900;
}

.color7 {
    width: 2.7em;
    border-right: 1px solid black;
    background-color: #5F6C4E;
    flex: 1;
}

.color8 {
    width: 2.7em;
    border-right: 1px solid black;
    background-color: #547098;
    flex: 1;
}

/* Railroads */
.square5 .content {
    text-align: center;
    margin-top: .5em;
    margin-bottom: 1em;
}

.square5 .img {
    background-image: url(../img/railroad.gif);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
}

.square5 p {
    margin-top: 1.5em;
    text-align: center;
}

.square15 .content {
    position: absolute;
    text-align: center;
    transform: rotate(90deg);
    margin-left: 71%;
    bottom: 30%;
}

.square15 .img {
    position: absolute;
    background-image: url(../img/railroad.gif);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
    transform: rotate(90deg);
    margin-left: 25%;
}

.square15 p {
    position: absolute;
    transform: rotate(90deg);
    text-align: center;
    bottom: 40%;
    margin-left: 6%;
}

.square25 .content {
    text-align: center;
    transform: rotate(180deg);
    margin-top: .5em;
}

.square25 .img {
    background-image: url(../img/railroad.gif);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
    transform: rotate(180deg);
    margin-left: .6em;
    margin-top: .5em;
}

.square25 p {
    transform: rotate(180deg);
    text-align: center;
    margin-top: 1em;
}

.square35 .content {
    position: absolute;
    text-align: center;
    transform: rotate(270deg);
    bottom: 25%;
    margin-left: -7%;
    width: 5.8em;
}

.square35 .img {
    position: absolute;
    background-image: url(../img/railroad.gif);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
    transform: rotate(270deg);
    margin-left: 32%;
    bottom: 0;
}

.square35 p {
    position: absolute;
    transform: rotate(270deg);
    text-align: center;
    margin-left: 75%;
    bottom: 35%;
}

/* Corner Squares */

.square30 .content {
    width: 7.5em;
    height: 7.5em;
    text-align: center;
    transform: rotate(225deg);
    margin-left: 10%;
    margin-top: 25%;
}

    .square30 .content .img {
        height: 5em;
        width: 5em;
        margin-left: 1em;
        background-image: url(../img/gotojail.gif);
        background-size: cover;
    }

.square20 .content {
    width: 7.5em;
    height: 7.5em;
    text-align: center;
    transform: rotate(135deg);
    margin-left: 20%;
    margin-top: 25%;
}

    .square20 .content .img {
        height: 5em;
        width: 5em;
        margin-left: 1em;
        background-image: url(../img/rose.jpg);
        background-size: cover;
    }

.square10 .img {
    position: absolute;
    background-image: url(../img/psm.jpg);
    background-size: cover;
    height: 9em;
    width: 9em;
    top: 0;
    right: 0;
}

.square10 .content {
    padding-top: 10em;
    padding-left: 5em;
}

.square0 .content {
    width: 6em;
    transform: rotate(315deg);
    margin-left: 25%;
    margin-top: 5%;
}

    .square0 .content p {
        font-size: 5em;
        margin-left: -20%;
        margin-top: -20%;
    }

.square0 .img {
    position: absolute;
    height: 2em;
    width: 4em;
    background-image: url(../img/arrow.jpg);
    background-size: cover;
    bottom: .5em;
    left: 4em;
}

/* Chance and Community Chest cards*/

.square2 .content {
    text-align: center;
    margin-top: 25%;
}

.square2 .img {
    background-image: url(../img/communitychest.gif);
    background-size: cover;
    height: 5em;
    width: 5em;
}

.square17 .content {
    position: absolute;
    text-align: center;
    margin-top: -10%;
    margin-left: 30%;
    transform: rotate(90deg);
    width: 5em;
}

.square17 .img {
    background-image: url(../img/communitychest.gif);
    background-size: cover;
    height: 5em;
    width: 5em;
}

.square33 .content {
    position: absolute;
    text-align: center;
    margin-top: -10%;
    margin-left: 30%;
    transform: rotate(270deg);
    width: 5em;
}

.square33 .img {
    background-image: url(../img/communitychest.gif);
    background-size: cover;
    height: 5em;
    width: 5em;
}

.square7 .content {
    text-align: center;
    margin-top: 25%;
}

.square7 .img {
    background-image: url(../img/chance.png);
    background-size: cover;
    height: 6.5em;
    width: 5em;
    margin-top: 10%;
}

.square22 .content {
    position: absolute;
    text-align: center;
    margin-top: 30%;
    margin-left: 10%;
    transform: rotate(180deg);
    width: 5em;
}

.square22 .img {
    background-image: url(../img/chance.png);
    background-size: cover;
    height: 6.5em;
    width: 5em;
    margin-left: -13%;
    margin-top: 20%;
}

.square36 .content {
    position: absolute;
    text-align: center;
    margin-top: -15%;
    margin-left: 25%;
    transform: rotate(270deg);
    width: 5em;
}

.square36 .img {
    background-image: url(../img/chance.png);
    background-size: cover;
    height: 6.5em;
    width: 5em;
    margin-left: -13%;
    margin-top: 20%;
}

/* Income Tax */

.square4 .content {
    text-align: center;
}

.square4 .img {
    background-image: url(../img/arttax.png);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
}

.square4 p {
    margin-top: 1.5em;
    text-align: center;
}

/* Utility Sports Teams */

.square12 .content {
    position: absolute;
    text-align: center;
    transform: rotate(90deg);
    margin-left: 64%;
    bottom: 30%;
}

.square12 .img {
    position: absolute;
    background-image: url(../img/tb.png);
    background-size: cover;
    height: 5.5em;
    width: 6em;
    transform: rotate(90deg);
    margin-left: 25%;
}

.square12 p {
    position: absolute;
    transform: rotate(90deg);
    text-align: center;
    bottom: 40%;
    /*margin-left: 6%;*/
}

.square28 .content {
    text-align: center;
    transform: rotate(180deg);
    margin-top: .5em;
}

.square28 .img {
    background-image: url(../img/timbers.png);
    background-size: cover;
    height: 5.5em;
    width: 5.5em;
    transform: rotate(180deg);
    margin-left: .3em;
    margin-top: .3em;
}

.square28 p {
    transform: rotate(180deg);
    text-align: center;
    margin-top: 1em;
}
/*initial display of pieces*/
.player-pieces {
    display: inline-flex;
    bottom: 0;
    height: 5em;
    width: 70%;
    position: absolute;
    margin-left: -6%;
    margin-bottom: .6em;
}

    .player-pieces div.player1, div.player2, div.player3, div.player4 {
        position: relative;
    }
/* Player display pieces */
/*player1 is the dog*/
.player1 {
    position: relative;
    background-image: url(../img/dog.png);
    background-size: cover;
    z-index: 2;
    height: 5em;
    width: 5em;
    top: 0;
    left: 0;
}

.player1statbar {
    background-image: url(../img/dog.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 6.25em;
    width: 6.25em;
    float: right;
}
/*player2 is the hat*/
.player2 {
    position: relative;
    background-image: url(../img/hat.png);
    background-size: cover;
    z-index: 2;
    height: 4em;
    width: 5em;
    top: 0;
    right: 0;
}

.player2statbar {
    background-image: url(../img/hat.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5em;
    width: 6.25em;
    float: right;
}
/*player3 is the iron*/
.player3 {
    position: relative;
    background-image: url(../img/iron.png);
    background-size: cover;
    z-index: 2;
    height: 4em;
    width: 5em;
    bottom: 0;
    left: 0;
}

.player3statbar {
    background-image: url(../img/iron.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5em;
    width: 6.25em;
    float: right;
}
/*player4 is the elephant*/
.player4 {
    position: relative;
    background-image: url(../img/elephant.png);
    background-size: cover;
    z-index: 2;
    height: 5em;
    width: 6em;
    bottom: 0;
    right: 0;
}

.player4statbar {
    background-image: url(../img/elephant.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 6.25em;
    width: 6.25em;
    float: right;
}

.rotate {
    font-family: "Sigmar One", "Lucida Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 22em;
    height: 5em;
    margin-left: 3em;
    margin-right: 5em;
    margin-top: 1em;
    padding-top: 2em;
}

#left-control {
    width: 100%;
    margin-top: -2em;
    margin-left: -.6em;
}

#right-control {
    width: 100%;
    margin-top: .5em;
    margin-left: -.6em;
}

    #right-control button {
        color: #555;
        background-color: #4d2d2d;
        border-color: #555;
    }

/*
player action section (playerTurn
*/
.player-control {
    font-family: "Sigmar One", "Lucida Sans", sans-serif;
    color: #4d2d2d;
    background-color: #eda;
    background-size: cover;
    min-height: 30em;
    max-width: 22em;
    border: 7px outset #feb;
    margin-left: 3em;
    margin-right: 5em;
    margin-top: .5em;
    padding: 2em;
    box-shadow: 22px 14px 10px #000, 30px 14px 10px #000, 10px -10px 100px #000;
}

#view-button-advance {
    width: 105%;
    color: #555;
    background-color: #4d2d2d;
    border-color: #555;
}

#view-button-reverse {
    width: 105%;
    color: #555;
    background-color: #4d2d2d;
    border-color: #555;
}
#view-button-advance:hover{
    color: #4d2d2d;
    background-color: #555;
    border-color: #4d2d2d;
}
#view-button-reverse:hover{
    color: #4d2d2d;
    background-color: #555;
    border-color: #4d2d2d;
}

.showPosition {
    outline: 2px solid;
    z-index: 99;
}
/*code to alter message output in actionMessage directive*/
.messageDirective h5 {
    text-align: right;
}

    .messageDirective h5.moneyTotals {
        visibility: hidden;
    }

.showMoneyMessage {
    visibility: visible;
}

#zoom img {
    /*transform:scale 1s;
animation: scale 1s;*/
    position: absolute;
    padding-bottom: 15%;
    -moz-animation: scale 1.5s; /* Firefox */
    -webkit-animation: scale 1.5s; /* Safari and Chrome */
    -o-animation: scale 1.5s; /* Opera */
    animation: scale 1.5s margin-top: -20px;
    transform: translate(-30%, -20%);
    animation-fill-mode: forwards;
    width: 10%;
}

@keyframes scale {
    from {
        width: 100%;
    }

    to {
        width: 10%;
    }
}

@-moz-keyframes scale { /* Firefox */
    from {
        width: 100%;
    }

    to {
        width: 10%;
    }
}

@-webkit-keyframes scale { /* Safari and Chrome */
    from {
        width: 100%;
    }

    to {
        width: 10%;
    }
}

@-o-keyframes scale { /* Opera */
    from {
        width: 100%;
    }

    to {
        width: 10%;
    }
}

#start-stats {
    color: #4d2d2d;
    font-size: 2.5em;
    margin-top: .5em;
}

    #start-stats p {
        font-size: .6em;
        padding-left: 2em;
    }