<div ng-mouseenter="setColors()" ng-keydown="setColors()" class="board-container">
    <div class="column-container">
        <div class="top-row">
            <div class="square20 top-left-corner-cell"><div class="content"><p>Free Visit To</p><p class="img"></p><p>Washington Park</p></div></div>
            <div class="square21 top-cell"><div class="content"><p class="top-cost">$220</p><p class="top-name">Radar</p></div><div class="color5"></div></div>
            <div class="square22 top-cell"><div class="content">Chance<p class="img"></p></div></div>
            <div class="square23 top-cell"><div class="content"><p class="top-cost">$220</p><p class="top-name">Chirpify</p></div><div class="color5"></div></div>
            <div class="square24 top-cell"><div class="content"><p class="top-cost">$240</p><p class="top-name">Iovation</p></div><div class="color5"></div></div>
            <div class="square25 top-cell"><div class="top-cost" id="top-rail-utility">$200</div><div class="img"></div><div class="content">Portland Aerial Tram</div></div>
            <div class="square26 top-cell"><div class="content"><p class="top-cost">$260</p><p class="top-name">Metal Toad</p></div><div class="color6"></div></div>
            <div class="square27 top-cell"><div class="content"><p class="top-cost">$260</p><p class="top-name">Webtrends</p></div><div class="color6"></div></div>
            <div class="square28 top-cell"><div class="top-cost" id="top-rail-utility">$175</div><div class="img"></div><div class="content">Portland Timbers</div></div>
            <div class="square29 top-cell"><div class="content"><p class="top-cost">$280</p><p class="top-name">Appnexus</p></div><div class="color6"></div></div>
            <div class="square30 top-right-corner-cell"><div class="content"><p class="goto">Go To The</p><p class="img"></p><p class="jail">Saturday Market</p></div></div>
        </div>

        <div class="middle-row">
            <div class="middle-row-left">
                <div class="square19 left-cell"><div class="content"><p class="left-name">Rentrak</p><p class="left-cost">$200</p></div><div class="color4"></div></div>
                <div class="square18 left-cell"><div class="content"><p class="left-name">Open Sesame</p><p class="left-cost">$180</p></div><div class="color4"></div></div>
                <div class="square17 left-cell"><div class="content">Community Chest<p class="img"></p></div></div>
                <div class="square16 left-cell"><div class="content"><p class="left-name">Notion</p><p class="left-cost">$180</p></div><div class="color4"></div></div>
                <div class="square15 left-cell"><div class="content">Portland Streetcar</div><div class="img"></div><p class="left-cost" id="rail">$200</p></div>
                <div class="square14 left-cell"><div class="content"><p class="left-name">Acquia</p><p class="left-cost">$160</p></div><div class="color3"></div></div>
                <div class="square13 left-cell"><div class="content"><p class="left-name">ThinkShout</p><div class="left-cost">$140</div></div><div class="color3"></div></div>
                <div class="square12 left-cell"><div class="content">Portland Trailblazers</div><div class="img"></div><p class="left-cost" id="utility">$175</p></div>
                <div class="square11 left-cell"><div class="content"><p class="left-name">Brandlive</p><p class="left-cost">$140</p></div><div class="color3"></div></div>
            </div>

            <div class="middle-row-middle">
                <div class="center-image-portlandia"></div>
                <div class="center-image"></div>
            </div>

            <div class="middle-row-right">
                <div class="square31 right-cell"><div class="color7"></div><div class="content"><p class="right-name">Crowd Compass</p><p class="right-cost">$300</p></div></div>
                <div class="square32 right-cell"><div class="color7"></div><div class="content"><p class="right-name" id="jive">Jive Software</p><p class="right-cost">$300</p></div></div>
                <div class="square33 right-cell"><div class="content">Community Chest<p class="img"></p></div></div>
                <div class="square34 right-cell"><div class="color7"></div><div class="content"><p class="right-name">Puppet Labs</p><p class="right-cost">$320</p></div></div>
                <div class="square35 right-cell"><div class="content">Washington Park Railway</div><div class="img"></div><div class="right-cost" id="right-rail">$200</div></div>
                <div class="square36 right-cell"><div class="content">Chance<p class="img"></p></div></div>
                <div class="square37 right-cell"><div class="color8"></div><div class="content"><p class="right-name">New Relic</p><p class="right-cost">$350</p></div></div>
                <div class="square38 right-cell"><div class="content">Buy Voodoo</div><p class="img"></p><p class="donutpay">Pay $100</p></div>
                <div class="square39 right-cell"><div class="color8"></div><div class="content"><p class="right-name">Free Geek</p><p class="right-cost">$400</p></div></div>
            </div>
        </div>

        <div class="bottom-row">
            <div class="square10 bottom-left-corner-cell"><div class="content">Passing by<p class="img"></p></div></div>
            <div class="square9 bottom-cell"><div class="color2"></div><div class="content"><p class="bottom-name">The Dyrt</p><p class="bottom-cost">$120</p></div></div>
            <div class="square8 bottom-cell"><div class="color2"></div><div class="content"><p class="bottom-name">GlobeSherpa</p><p class="bottom-cost">$100</p></div></div>
            <div class="square7 bottom-cell"><div class="content">Chance<p class="img"></p></div></div>
            <div class="square6 bottom-cell"><div class="color2"></div><div class="content"><p class="bottom-name">Zapproved</p><p class="bottom-cost">$100</p></div></div>
            <div class="square5 bottom-cell"><div class="content">The Max</div><div class="img"></div><div id="bottom-middle-cost">$200</div></div>
            <div class="square4 bottom-cell"><div class="content">Portland Art Tax</div><div class="img"></div><p>Pay $200</p></div>
            <div class="square3 bottom-cell"><div class="color1"></div><div class="content"><p class="bottom-name">AltSource</p><p class="bottom-cost">$60</p></div></div>
            <div class="square2 bottom-cell"><div class="content">Community Chest<p class="img"></p></div></div>
            <div class="square1 bottom-cell"><div class="color1"></div><div class="content"><p class="bottom-name">Jama Software</p><p class="bottom-cost">$60</p></div></div>
            <div class="square0 bottom-right-corner-cell"><div class="content">As you pass collect $200<p>GO</p></div><p class="img"></p></div>
        </div>
    </div>
</div>