<div class="row" id="message-center">
    <div class="container rotate">
        <div class="row" id="left-control">
            <button class="btn btn-large" id="view-button-advance" ng-click="advanceView()">Advance Board View</button>
        </div>
        <div class="row" id="right-control">
            <button class="btn btn-large" id="view-button-reverse" ng-click="reverseView()">Reverse Board View</button>

        </div>
    </div>
</div>
<div class="row">
    <div ng-mouseenter="setColors()" ng-keydown="setColors()" class="container player-control" style="font-size: 16px">
        <!--<div class="fade-screen" ng-show="start" ng-click="start = false; setColors(); rolled = false">Click to Start!</div>-->
        <!--no stuck in market actions - roll button and post roll options-->
        <div ng-show="rolled === false && isInMarket === false && submit === false">
            <h3>{{ currentPlayer.piece.pieceName }} {{ currentPlayer.pieceObject.name}}, it's your turn. Roll<span ng-show="samePlayer === true"> again</span>!</h3><br />

            <!--<h3 ng-show="samePlayer === true && currentPlayer.num_of_doubles > 0">{{ currentPlayer.piece.pieceName }} {{ currentPlayer.pieceObject.name}}, Roll Again!</h3>-->
            <button ng-hide="rolled" ng-model="result" ng-click="turn(currentPlayer); rolled = true; showRoll = true">Roll!</button>
        </div>

        <!--if player lands on a no-buy space-->
        <div ng-show="rolled && !isInMarket">
            <div ng-show="deedOwned">
                <!--need a 'playerToPay' object from the controller here-->
            </div>
            <roll-results ng-show="showRoll === true"></roll-results>
            <button ng-hide="option_clicked === true || isInMarket === true" ng-click="playerOption(currentPlayer, rollResult); option_clicked = true; showRoll = false">Move</button>

            <!--this div should handle comm chest and/or chance cards-->
            <!--need $scope.draw = true from controller-->
            <!--need $scope.cardToRead from controller (the card selected)-->
            <!--if its a community chest card, make a $scope.community_chest = true in controller-->
            <!--if its a chance card, $scope.chance = true in controller-->
            <div ng-show="draw">
                <div ng-hide="drawAction === true">
                    <p id="larger-text" ng-show="community_chestCard && chanceCard != true">You landed on Community Chest!</p>
                    <p ng-show="chanceCard && community_chestCard != true">You landed on Chance!</p>
                    <p>Click to pick a card</p>
                    <button ng-click="drawAction = true; getCard(); read_contents = true; showMessage = false">Draw</button>
                </div>
                <read-card ng-show="read_contents"></read-card>
                <button ng-show="goCard" ng-click="draw = false; goCard = false; showNewPosition()">Go!</button>
            </div>
            <!--ask to buy property actions-->
            <action-message ng-show="showMessage === true"></action-message>
            <div ng-show="askToBuy">
                <form>
                    <label name="buyQuestion">Would you like to buy {{deeds[currentPlayer.position].name}} for {{deeds[currentPlayer.position].price}}?</label>
                    <select id="buy-option" ng-model="buyChoice">
                        <option ng-model="buyChoice" ng-value="true">I'll take it!</option>
                        <option ng-model="buyChoice" ng-value="false">No thanks</option>
                    </select>
                    <button ng-click="askToBuy = false; getPlayerChoice(); read_contents = false">Submit</button>
                </form>
            </div>

            <div ng-show="visiting">
            </div>
            <div ng-show="roseGarden">
            </div>
            <div ng-show="goToMarket">
            </div>
            <div ng-show="voodoo">
            </div>
        </div>

        <!--stuck in market actions-->
        <div class="row in-market" ng-show="isInMarket">
            <h3>You're stuck at Saturday Market!!</h3>
            <!--show if player has another turn to stay in market-->
            <div id="market_choices">
                {{ currentPlayer.piece.pieceName }} {{ currentPlayer.pieceObject.name}}, select your options. You can:<br />
                * Pay $50.<br />
                * Use an available "Leave Saturday Market Free" card<br />
                * Roll for doubles<br />
                <button ng-click="show_rules = !show_rules">Click here to view/hide rules</button>
                <div ng-show="show_rules" sytle="float:right">
                    <p>If you choose to pay $50 or spend a "Leave Saturday Market Free" card at the start of your turn, you may roll as normal.<br /></p>
                    <p>If you choose to roll for doubles and do not get doubles, you will stay at Saturday Market for another turn (3 turns max).<br /></p>
                    <p>If upon your third unsuccessful attempt at rolling for doubles, the $50 fine will be levied anyway, and you leave Saturday Market, moving the number of spaces as indicated by the roll</p>
                </div>
            </div>
            <h4>How do you want to leave Saturday Market?</h4>
            <form ng-submit="marketAction()">
                <div class="row form-group">
                    <ul class="no_style_li" name="market" required single>
                        <li id="card" ng-model="market_choice" ng-show="has_card">
                            <input name="market" type="radio" ng-model="market_choice" ng-change="showCards(); useCardChosen = true" value="card"> Use a get out of market free card< />
                            <span ng-show="choose_card">
                                <show-cards></show-cards>
                            </span>
                        </li>
                        <li>
                            <input name="market" type="radio" ng-model="market_choice" ng-change="showCards(); useCardChosen = false" value="pay"> Pay $50
                        </li>
                        <li>
                            <input name="market" type="radio" ng-model="market_choice" ng-change="showCards(); useCardChosen = false" value="roll"> I don't wanna buy ANYTHING in this place. I'm gonna make a ROLL for it!
                        </li>
                    </ul>
                </div>
                <button type="submit" ng-model="market_choice" ng-click="isInMarket = false; submit = true">Submit </button>
            </form>
            <!--<div ng-show="choose_card">
                <form ng-model="cardSelected">
                    <select name="cards" ng-model="cardSelected">
                        <option ng-repeat="item in getOutFreeCards" ng-model="cardSelected" value="({cardChosen: item.group})">{{ item.group }}</option>
                    </select>
                </form>
            </div>-->
        </div>
        <div id="end-button" ng-show="show_end_turn_button">
            <button ng-click="endTurn(); show_end_turn_button = !show_end_turn_button; rolled = false; checkPlayer()">End turn</button>
        </div>
        <div class="player-pieces"><div class="player1"></div><div class="player2"></div><div class="player3"></div><div class="player4"></div></div>
    </div>
</div>