<!-- test for player piece selection. default available piece reflects 'next in line' piece

5 player max. 'startGame' variable hold value true if player max is reached when
factory.addPlayer is called upon submit. 'startGame' must also be toggled to true if user selects start game option-->
<div class="container header-type" style="font-size: 2em">
    <div class="row" id="select-header-text">
        <h2>--Game Setup--</h2>
    </div>
    <form ng-submit="showStartButton = factory.addPlayer(); update()" class="form-inline" role="form">
        <div class="row form-group1" ng-hide="showStartButton || startGame">
            <label for="player">Enter name here:</label>
            <input class="form-control" id="player" ng-model="factory.playerName" placeholder="Enter Name" required>
            <br />
            <div class="form-group" id="color-piece-select" ng-model="factory.playerPiece">
                <label for="piece">Select a player piece:</label>
                <select ng-options="item.pieceName for item in remainingPieces" class="form-control" ng-model="factory.playerPiece" id="piece"
                        ng-init="factory.playerPiece = remainingPieces[0]" selected required>
                    <option ng-model="factory.playerPiece" class="form-control" id="piece" selected required>{{ item.pieceName }}</option>
                </select>
                <select ng-options="object.name for object in remainingObjects" class="form-control" ng-model="factory.playerObject" id="pieceObject"
                        ng-init="factory.playerObject = remainingObjects[0]" selected required>
                    <option ng-model="factory.playerObject" class="form-control" id="object" selected required>{{ object.name }}</option>
                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-large" id="player-submit-button">Submit</button>
        </div>
    </form>
    <!--displays players, start roll-for-first actions-->
    <div class="row" id="click-for-first" ng-show="showStartButton || players.length > 1">
        <a id="first-player-button" ng-click="getFirstPlayer = true; startGame = true; rollForFirst()" ng-hide="getFirstPlayer" class="button btn btn-large">All set? Click to determine first player!</a>
    </div>
    <div class="well row" id="start-stats" ng-show="players.length>
        0">
        <div>
            Number of Players = {{players.length}}
            <p ng-repeat="item in players">{{ item.name }} has selected the {{ item.pieceObject.name }} and {{ item.piece.pieceName }} color</p>
            <!--ng-click="runAndUpdate(item.id); rolled_for_first = true"-->
            <!--<button ng-show="startGame" ng-click="rollForFirst(); rolled_for_first = true" ng-hide="rolled_for_first">Roll for First!</button>-->
        </div>
        <!-- HIGH ROLLER
        <!--
                maybe someday will be able to use this little section to display
                high roller results. For now, just sending alerts to the screen
                --PlayerSelectController.js HIGH ROLLER section
        -->
        <!--<div ng-model="highestRoller" ng-show="show_roll_results">
            <h2 ng-model="highestRoller">{{ highRollerName}} has the highest roll at {{ highRollerNum }}!</h2>
        </div>-->
        <!--<div ng
        -model="tie" ng-show="break_tie">
                <div>
                    <button ng-repeat="item in playersInTie" ng-click="rollForFirst(item.id); rolled_for_tiebreak = true" ng-hide="rolled_for_tiebreak">{{ item.playerName }}, break the Tie!</button>
                    <br />
                </div>-->
    </div>
    <div class="row" ng-show="startGameMessage" ng-click="startGameMessage = false">
        <a ui-sref="play" class="button btn btn-large" id="click-to-continue">{{ playerToStart.name }} will go first! Click to continue.</a>
        <p>Note: This is a single page AngularJS app. If you navigate back from the game page, you will have to start the game over.</p>
    </div>
</div>