<div class="container fade-screen" style="background-color: black">
    
    <a ui-sref="click_to_start">
        <div class="row" id="play-div">
            <span id="playPortlandia"><img src="img/playPortlandia.png" style="max-width:50vw; max-height:45vh; z-index:99999" /></span>
        </div>

        <div class="row" id="monopoly">
            <span id="zoom" class="infinite"><img src="img/bird.png" class="zoom infinite"/></span>
            <img src="img/MonopolyLogo.png" id="start-logo" />
        </div>
    </a>
</div>